spring:
  data:
    redis:
      host: localhost
      port: 6379
      password:
      timeout: 10000
      database: 0
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 2
          max-wait: -1ms
